


 <h3>Add a Cafe! </h3>
  <form action="/cafes" method="POST">
  Cafe Name: <input type="text" name="Cafe Name" placeholder="Cafe Name:">
  Location:<input type="text" name="Location" placeholder="Location:">
  Parking? (If yes, is it valet?): <input type="text" name="Parking?" placeholder="Parking:">
  Price of an Americano?: <input type="text" name="Price" placeholder="Price:">
  Dog Friendly?: <input type="text" name="dog_friendly" placeholder="Dog Friendly?:">
  Outlet?: <input type="text" name="outlets" placeholder="Outlets?:">
  Review: <input type = "textarea" name="reviews" placeholder="Review:">
  <input type="submit" value="Submit">
  </form>
