
<h5 class="font-weight-bold"> A Well Caffeinated Seoul is an easy place to keep track of all of your cafe experiences in the bustling city of Seoul, South Korea.</h5>
<p><a href="/signup">Sign Up</a> to continue.</p>
<p>Have an account? <a href="/login">Login now.</a></p>