<h1>Welcome to A Well Caffeinated Seoul!</h1> 
<h2>A Well Caffeinated Seoul is an easy place to keep track of all of your cafe experiences in the bustling city of Seoul, South Korea.</h2>

<h3><a href="/signup">Sign Up</a><h3>
<p>Have an account? <a href="/login">Login now.</a></p>